<p id="notice"><%= notice %></p>

<p>
  <strong>File data:</strong>
  <%= @attachment.file_data %>
</p>

<p>
  <strong>Type:</strong>
  <%= @attachment.type %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
