<div class="row">
  <div class="col-md-6">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal', role: 'form') do |f| %>
      <div class="form-group">
        <%= f.label :name, '用户名', class: 'control-label'  %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, '密码', class: 'control-label'  %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, '记住密码' %>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "确定", class: 'btn btn-primary' %>
        <%= link_to '找回密码', new_password_path(resource_name), class: "btn btn-link" %>
      </div>
    <% end %>
  </div>
</div>
