<%= form_for @picture, html: { role: 'form', multipart: true }  do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this attachment from being saved:</h2>
      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.file_field :file, class: 'input-file image file-loading', multiple: true %>

  <%= f.submit '确定' %>
<% end %>
